{% extends 'base.html' %} {% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 card="card-title">{{ title }}</h4>
        </div>
        <div class="card-body">
          <div class="toolbar">
            <a class="btn btn-success mb-3" href="{% url 'barang_add' %}">+ Tambah</a>
          </div>
          <table id="datatable" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nama</th>
                <th scope="col">Deskripsi</th>
                <th scope="col">Kategori</th>
                <th scope="col">Jumlah</th>
                <th scope="col">Aksi</th>
              </tr>
            </thead>
            <tbody>
              {% for p in produk %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ p.nama }}</td>
                <td>{{ p.deskripsi }}</td>
                <td>{{ p.kategori }}</td>
                <td>{{ p.jumlah }}</td>
                <td class="text-right">
                  <a href="{% url 'barang_update' p.id %}" class="btn btn-info">Edit</a>
                  <!-- <a href="#" class="btn btn-warning"></a> -->
                  <a onclick="alert('yakin mau dihapus?')" href="{% url 'barang_delete' p.id %}" class="btn btn-danger">Hapus</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
