{% extends 'base.html' %}

{% block content %}
    <div class="container mt-3">
        <div class="card col-md-6">
            <div class="card-header bg-primary">{{ title }}</div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                      <label for="kategori" class="form-label">Kategori</label>
                      <select class="form-select form-select-sm" name="kategori"  aria-label=".form-select-sm example">
                        {% for kategori in kategori  %}
                            {% if get_produk.kategori == kategori %}
                                <option value="{{ kategori.nama }}" selected="selected"> {{ kategori.nama }} </option>
                            {% else %}
                                <option value="{{ kategori.nama }}"> {{ kategori.nama }} </option>
                            {% endif %} 

                        {% endfor %}                        
                      </select>
                    </div>
                    <div class="mb-3">
                      <label for="nama" class="form-label">Nama</label>
                        <input type="text" name="nama" value="{{ get_produk.nama }}" id="" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="deskripsi" class="form-label">Deskripsi</label>
                        <textarea class="form-control" name="deskripsi" value="" rows="3">{{ get_produk.jumlah }}</textarea>
                    </div>
                    <div class="mb-3">
                        <label for="jumlah" class="form-label">Jumlah</label>
                          <input type="number" name="jumlah" value="{{ get_produk.jumlah }}" class="form-control">
                      </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>        
        </div>
    </div>
{% endblock content %}